In [1]:
!pip --version

pip 24.1.2 from /usr/local/lib/python3.12/dist-packages/pip (python 3.12)

In [11]:
import numpy as np
import pandas as pd

l1 = [1,2,'3',4.1]   # 리스트는 한 배열안에 다양한 자료형 가능
print(l1, type(l1))   # print(l1, type(l1))

# 넘파이 리스트 쓰면 배열 연산이 파이썬 리스트보다 훨씬 빠름 -> 빠른 연산 속도
a1 = np.array([1,2,3,4])   # 넘파이 배열 안에 자료형 다른거 쓰면 우선순위 높은애로 다 바뀜
print(a1)

a2 = np.array(l1)
print(a2, type(a2))     # ['1' '2' '3' '4.1'] <class 'numpy.ndarray'>

a3 = np.ones(2, dtype=np.int64)
print(a3, type(a3), a3.shape)     # [1 1] <class 'numpy.ndarray'> (2,)

a4 = np.zeros(5, dtype=np.int64)
print(a4, type(a4), a4.shape)     # [0 0 0 0 0] <class 'numpy.ndarray'> (5,)

# shape 같은 애들은 넘파이 속성
# zeros, ones 같은 애들은 함수

[1, 2, '3', 4.1] <class 'list'>
[1 2 3 4]
['1' '2' '3' '4.1'] <class 'numpy.ndarray'>
[1 1] <class 'numpy.ndarray'> (2,)
[0 0 0 0 0] <class 'numpy.ndarray'> (5,)

In [22]:
df1 = pd.DataFrame([[10,7,91], [22,-17,4]], index=[1,2], columns=['python', 'java', 'php'])
print(df1)

df1 = df1.rename(columns={'python' : 'pyt', 'java' : 'jav', 'php' : 'php' })
print(df1)


# iloc 사용
# df1.iloc[1,1] = 17
# df1.iloc[0,2] = 19
# print(df1)

# loc 사용
df1.loc[2, 'jav'] = 17
df1.loc[1, 'php'] = 19
print(df1)

   python  java  php
1      10     7   91
2      22   -17    4
   pyt  jav  php
1   10    7   91
2   22  -17    4
-17
   pyt  jav  php
1   10    7   19
2   22   17    4

In [28]:
import seaborn as sns

titanic = sns.load_dataset('titanic')
# print(titanic.info())   # 요약
# print(titanic.head(3))     # 위에서부터 3개. 개수 지정안해주면 기본은 5개
# print(titanic.tail(3))     # 아래에서부터 3개

print(titanic.query('age >= 70'))  # 나이가 70이상인 사람만 출력

     survived  pclass   sex   age  sibsp  parch     fare embarked   class  \
96          0       1  male  71.0      0      0  34.6542        C   First
116         0       3  male  70.5      0      0   7.7500        Q   Third
493         0       1  male  71.0      0      0  49.5042        C   First
630         1       1  male  80.0      0      0  30.0000        S   First
672         0       2  male  70.0      0      0  10.5000        S  Second
745         0       1  male  70.0      1      1  71.0000        S   First
851         0       3  male  74.0      0      0   7.7750        S   Third

     who  adult_male deck  embark_town alive  alone
96   man        True    A    Cherbourg    no   True
116  man        True  NaN   Queenstown    no   True
493  man        True  NaN    Cherbourg    no   True
630  man        True    A  Southampton   yes   True
672  man        True  NaN  Southampton    no   True
745  man        True    B  Southampton    no  False
851  man        True  NaN  Southampton    no   True